<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FMS</title>
  </head>
  <body>
    <h1> The Federal Migration Service </h1>
    <p>The Federal Migration Service (Федеральная миграционная служба, ФМС России) was a federal law enforcement agency responsible for implementing the state policy on migration and also performing law enforcement functions, functions for control, supervision and provision of public services in the field of migration. The Federal Migration Service was responsible for the issuing of Russian international passports, resident registration and immigration control in Russia.[1] Headquartered in Moscow, FMS was charged with the investigation and enforcement of over 500 federal statutes within the Russian Federation. FMS is led by a Director who is appointed by the Prime Minister of Russia.
FMS was the one of the largest investigative agency in the Russian government, following the Federal Security Service of the Russian Federation, Investigative Committee of Russia and the FSKN.
The Russian Federal Migration Service was created in June 14, 1992 replacing the Migration Committee of the Ministry of Labor and Employment. The service was established on basis of Governmental Decree No. 740 from September 22, 1992.
On April 5, 2016 the FMS was dissolved, and its functions and authorities were transferred to the Main Directorate for Migration Affairs MVD.</p>
  </body>
</html>
